.bp_prix,
.obj_prix_with_symbol,
.obj_prix,
.popup_prix_total,
.popup_caracteristique p:last-child,
.prix_unitaire,
.prix_total_article,
.cart_title_section_price,
.Head_panierPrix,
.Head_panierMontant,
.df-card__price {
  /* Blur all prices*/
  filter: blur(10px);

  /* Prevent user selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
