*[data-auto-id="productTilePrice"],
.current-price,
*[role="group"] a div span,
#minibag-dropdown a dl dd div span,
*[data-test-id="miniBagSubTotal"],
.bag-item-price,
.bag-subtotal-price,
.bag-total-price,
*[data-auto-id="productTileSaleAmount"] {
  /* Blur all prices*/
  filter: blur(10px);

  /* Prevent user selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
